* {margin:0px;}
* {font-family:'Bebas Neue';}

body {
    background-color: white;
    font-family: 'Abel', 'Arial', 'Bebas Neue';
    margin:20px;
    z-index:0;
}

.headingcontainer{
    background-color: white;
    text-align: center;
    height: 100px;
    width: auto;
}

.wrapper1{
    display:flex;
}

.title{
    
   margin-left:5%;
    padding:2px;
    background-color: white;
    text-align: left;
    font-size: 100px;
    width:70%;
    display:flex;
    
}

.quiz{
    text-align: right;
    font-size: 40px;
    width:85px;
    height:50px;
    margin-top: 60;
    background-color: white;
    border: none;
    padding:5px;
    
    
}

.button {
   text-align: right;
    font-size: 40px;
    width:85px;
    height:50px;
    margin-top: 60;
    background-color: white;
    border: none;
    padding:5px;
    
}

.wrapper2{
    display:flex;
}

.arrowleft{
    width:5%;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 45;
}

.contentcontainer{
    border-style:solid;
    border-color: black;
    background-color: white;
    width:90%;
    height: auto;
    font-style: bold;
    font-size: 50px;
    align-content: center;
}

.arrowright{
    width:5%;
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    vertical-align: middle;
    line-height: 45;
}

.statename{
    background-color:white;
    font-size: 50px;
    margin: 15px;
}

img{
    max-height: 90%;
    max-width: 90%;
}

.mapleft{
    float:left;
    width:33%;
    height:30%;
}

.map{
    height:500px;    
}

.mapright{
    float:right;
    width:30%;
    height:30%;
}

.image{
    text-align: center;
    background-color: white;
    margin-top:5px;
    height: 300px;
    width:300px;
    font-size: 20px;
}

.stateleft{
    float:left;
    height: 25%;
    width: 30%;
}

.moreinfo{
    float:left;
    margin: 15px;
    height:90px;
    width:150px;
    font-size:30;
    background-color: white;
    border:none;
}

.wrapper3{
    display:flex;
}

.menuleft{
    width: 31.33333333%;
}

.vertical-menu1 {
    width: 150px; /* Set a width if you like */
    float:left;
}

.vertical-menu1 a {
    margin-left: 0px;
    width: 100px;
    background-color: white; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 2px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
/*    float:left;*/
}

.vertical-menu1 a:hover {
    background-color: white; /* Dark grey background on mouse-over */
}

.vertical-menu1 a.active {
    background-color: white; /* Add a green color to the "active/current" link */
    color: white;
}

.vertical-menu2 {
    width: 150px; /* Set a width if you like */
    float:left;
}

.vertical-menu2 a {
    margin-left: 0px;
    width: 100px;
    background-color: white; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 2px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
/*    float:left;*/
}

.vertical-menu2 a:hover {
    background-color: white; /* Dark grey background on mouse-over */
}

.vertical-menu2 a.active {
    background-color: white; /* Add a green color to the "active/current" link */
    color: white;
}

.vertical-menu3 {
    width: 150px; /* Set a width if you like */
    float:left;
}

.vertical-menu3 a {
    margin-left: 0px;
    width: 100px;
    background-color: white; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 2px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
/*    float:left;*/
}

.vertical-menu3 a:hover {
    background-color: white; /* Dark grey background on mouse-over */
}

.vertical-menu3 a.active {
    background-color: white; /* Add a green color to the "active/current" link */
    color: white;
}

.vertical-menu4 {
    width: 150px; /* Set a width if you like */
    float:left;
}

.vertical-menu4 a {
    margin-left: 0px;
    width: 100px;
    background-color: white; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 2px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
/*    float:left;*/
}

.vertical-menu4 a:hover {
    background-color: white; /* Dark grey background on mouse-over */
}

.vertical-menu4 a.active {
    background-color: white; /* Add a green color to the "active/current" link */
    color: white;
}

.row::after {
  display:flex;
  content: "";
  clear: both;
}

.footercontainer1{
    padding: 70px;
}

.footercontainer2{
    text-align: center;
    }

.quiz{
    text-align: right;
    font-size: 40px;
    width:85px;
    height:50px;
    margin-top: 60;
    background-color: white;
    border: none;
}

.myBtn{
    border:none;
    height:100px;
    width:150px;
    font-size: 30px;
    background-color: black;
    color:white;
    margin:20px;
    border-color: black;
}

/* The Modal (background) */
.modal{
    font-size: 12pt;
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0px;
    top: 0px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content{
    margin: 15% auto; /* 15% from the top and centered */
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    
}
.modal-header{
    font-family: 'Bebas Neue';
    color:white;
    height:40px;
    font-size: 20;
    background-color: black;
    padding: 20px;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Modal Content/Box */
.modal-body{
    font-family: 'Helvetica';
    font-size: 20;
    background-color: #fefefe;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* The Close Button */
.close{
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
    
}